@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  color: #495057;
  background-color: $light;
}

a {
  color: #495057;
  text-decoration: none;
  
  &:hover {
    color: #495057;
  }
}

::selection {
  background: #495057;
  color: $light;
}