@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  color: $primary;
  background-color: $light;
}

a {
  text-decoration: none;
}

::selection {
  background: $primary;
  color: $light;
}