@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  color: #495057;
  background-color: $light;
}

a {
  text-decoration: none;
}

::selection {
  background: #495057;
  color: $light;
}